In [9]:
#list
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [3]:
#append vs extend
#to append a list is to add a list in the end of the current list
#to extend a list is to concatenate it with the current list 
#to a.extend([1,2]) is equal to a+=[1,2]
a.append([1,2])
print(a)

[1, 2, 3, 4, [1, 2]]

In [5]:
a.extend([1,2])
print(a)

[1, 2, 3, 4, 1, 2]

In [8]:
a+=[1,2]
a

[1, 2, 3, 4, 1, 2]

In [10]:
#index

a=['a','b','d']
a.index('a')

0

In [11]:
#it only returns the index of the first occurrence
a=['a','b','d','a']
a.index('a')

0

In [12]:
a=[1,2,3,4]
a.index(3)

2

In [13]:
a=[1,2,3,4]
a.index('a')

ValueError: 'a' is not in list

In [16]:
#if there are duplicates, you could set a start point
a=[1,2,3,4,1,2,6]
a.index(2,3) #return the position of 2 after the index of 3

5

In [22]:
#insert 
#a.insert(idx,i)
#insert i into the position idx
a=[1,2,3,4]
a.insert(2,'a')
a

[1, 2, 'a', 3, 4]

In [24]:
#remove
#a.remove(x)
#remove the first occurence of x
a=[1,2,1,3]
a.remove(1)
a

[2, 1, 3]

In [25]:
#pop
#a.pop() remove the last one
#a.pop(i) remove the item at i position
a=[1,2,3,4]
a.pop()
a

[1, 2, 3]

In [26]:
a.pop(0)
a

[2, 3]

In [27]:
#count
a=[1,2,1,1]
a.count(1)

3

In [28]:
a.count(5)

0

In [33]:
#sort
a=['aa','bk','c','b']
a.sort()
a

['aa', 'b', 'bk', 'c']

In [36]:
a=[4,3,2,1]
a.sort()
a

[1, 2, 3, 4]

In [38]:
#reverse
a=[3,1,2,4]
a.reverse()
a

[4, 2, 1, 3]

In [39]:
#list comprehension
#return the list of even numbers less than 10
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [40]:
str1='tom brady is not the goat'
list(str1)

['t',
 'o',
 'm',
 ' ',
 'b',
 'r',
 'a',
 'd',
 'y',
 ' ',
 'i',
 's',
 ' ',
 'n',
 'o',
 't',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'g',
 'o',
 'a',
 't']

In [48]:
#tuple is not mutable
#if you want to create a tuple whose length is 1, you must have a comma
t=(1)
type(t)

int

In [49]:
t=(1,)
type(t)

tuple

In [50]:
t*5

(1, 1, 1, 1, 1)

In [63]:
#concatenate
t1=(1,2)
t2=(3,4)
t1+t2

(1, 2, 3, 4)

In [64]:
t1[0]

1

In [65]:
t1.count(1)

1

In [66]:
str(t1)

'(1, 2)'

In [89]:
#dict
d={1:[1,2,3],'second':'nba'}

In [71]:
d.keys()

dict_keys([1, 'second'])

In [72]:
d.values()

dict_values([[1, 2, 3], 'nba'])

In [73]:
d[1]

[1, 2, 3]

In [74]:
d['second']

'nba'

In [76]:
d['second']='nfl'
d

{1: [1, 2, 3], 'second': 'nfl'}

In [78]:
d.items()

dict_items([(1, [1, 2, 3]), ('second', 'nfl')])

In [79]:
for i in d.keys():
    print(i)

1
second

In [80]:
for k,v in d.items():
    print(k,v)

1 [1, 2, 3]
second nfl

In [82]:
1 in d

True

In [85]:
'nfl' in d

False

In [86]:
#d.get(key) get the value of the key
d.get(1)

[1, 2, 3]

In [87]:
#delet the key-value pair based on the key
d.pop(1)

[1, 2, 3]

In [88]:
d

{'second': 'nfl'}

In [90]:
del d[1]

In [91]:
d

{'second': 'nba'}

In [93]:
d1={'a':1}
d2={"a":2}
d1.update(d2)
d1

{'a': 2}

In [95]:
d1={'a':1}
d2={"a":2}
d2.update(d1)
d2

{'a': 1}

In [96]:
d1={'a':1}
d2={"b":2}
d1.update(d2)
d1

{'a': 1, 'b': 2}

In [99]:
[x for x in d1.values()]

[1, 2]

In [100]:
[x for x in d1.keys()]

['a', 'b']

In [102]:
#set no duplicates and ordered
set([3,3,4,4,1,2])

{1, 2, 3, 4}

In [103]:
a=set([1,2,3,4])
b=set([3,4,5,6])
a|b

{1, 2, 3, 4, 5, 6}

In [104]:
a&b

{3, 4}

In [105]:
c=a|b
a<c

True

In [106]:
a.issubset(c)

True

In [108]:
c.issuperset(a)

True

In [109]:
a^b

{1, 2, 5, 6}

In [110]:
b=set([3,4,5,6,7])
a^b

{1, 2, 5, 6, 7}

In [16]:
#string
#strip: remove the white space in the beginning
#does not change the original string
#strings are immutable
a=' Hello World'
print(a.strip())
a

Hello World

' Hello World'

In [17]:
print(a.strip().lower())
print(a.strip().upper())
a

hello world
HELLO WORLD

' Hello World'

In [13]:
a='hello world'
print(a.title())
a

Hello World

'hello world'

In [14]:
#replace
print(a.replace('h','y'))
a

yello world

'hello world'

In [18]:
#replace all occurences
print(a.replace('o','a'))

 Hella Warld

In [23]:
#split
a='Hello, World'
print(a.replace(' ','').split(','))
a.split(',')

['Hello', 'World']

['Hello', ' World']

In [29]:
#join
a=['Aaron', 'Rodgers','is','the','Goat']
' '.join(a)

'Aaron Rodgers is the Goat'